<div class="col-12 col-md-6 col-lg-4">
    <div class="card h-100 d-flex flex-column justify-content-between" style="max-width: 540px;" onclick="redirectToRoute()">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ asset(travel.path) }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ travel.name }}</h5>
                </div>
            </div>
        </div>
        <div class="card-body">
            <button class="btn btn-primary">
                <a class="text-light" href="{{ path('app_travel_detail', {id: travel.id }) }}">Travel details</a>
            </button>
        </div>
    </div>
</div>
